*{
    margin:0;
    padding: 0;
}
body{
    /* background-color: rgb(0, 23, 42); */
    background: url("/img/bg1.jpg");
    color: aliceblue;
    background-size:contain;
    
    
   
    
}

nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    height:50px;
    background-color: rgba(0, 0, 0, 0.735);
    position:sticky;
    z-index: 1000;
    top:0;
}

nav.scrolled{
    background-color: rgb(0, 0, 0);

}

nav ul{
    display:flex;
    justify-content: space-between;
}

nav ul li{
    margin:0 23px;
    list-style: none;
    text-decoration: none;
}

nav ul a{
    color: rgba(130, 199, 255);
    text-underline-offset: 2px;
    font-size: 1.3rem;
    text-decoration: none;


}

nav ul a:hover{
    color:bisque;
    font-size: 1.4rem;
    text-decoration: none;
    
}

.left{
    font-size: 2rem;
    position: sticky;
}
.first-section{
    display: flex;
    justify-content: space-around;
    
}    

.left-section{
    width: 40%;
    font-size:3rem;
    margin-top: 100px;
    
   
}

.right-section{
    width: 30%;
    
    
}

img{
    width: 100%;
    height:80%;
    margin-top:100px ;
}

.gray{
    color:rgb(130, 199, 255);
}

#element{
    color:rgba(130, 199, 255)
}

.second-section{
    margin: 9% 0 14% 7%;

    
    
}

.about-me{
    background-color: aliceblue;
    text-align: center;
    font-size: 2.4rem;
    margin-top: 20%;
    padding:0px;
    
}

.second-section h1{
    font-size:1.8rem;
}

.resume-button{
    width:25%;
    height:50px;
    background-color:rgb(0, 70, 105);
    margin-top: 20px;
    color:rgb(255, 255, 255);
    font-size:1rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.resume-button:hover{
    box-shadow: 3px;
    box-shadow: black;
    background-color:rgb(2, 111, 165);
}

.third-section{
    margin-top:2%;
    background-color: rgb(230, 243, 255);
    color:black;
    height: 770px;
    
}

.third-section h1{
    font-size: 3rem;
    background-color: rgb(49, 102, 152);;
}

.third-section h2{
    font-size:3.4rem;
    margin-top: 3%;
}

.about-col-1{
    flex-basis: 40%;
}
.about-col-1 img{
    height:470px;
    width:63%;
    margin-left:20%;
    border:5px black solid;
    border-radius: 7px;
    box-shadow:8px 8px rgb(1, 62, 88);

}

.about-col-2{
    /* width:30%; */
    flex-basis: 60%;
    padding-top: 6.4%;
}

.row{
    display:flex;
    justify-content: space-around;
    background-color:rgb(230, 243, 255);
    
}

/* .container{
    background-color: rgb(112, 60, 60);
} */

.tab-titles{
    display: flex;
    margin:20px 30px;
    
}

.tab-links{
    margin-right:60px;
    font-size: 1.7rem;
    position: relative;
    cursor: pointer;
    font-weight: 500;
    
}

.tab-links::after{
    content:'';
    width:0;
    height:5px;
    background:  rgb(255, 44, 44);
    position: absolute;
    bottom:-8px;
    left:0px;
    transition: 0.45s;

}

.tab-links.active-links::after{
    width:50%;
}

.tab-contents{
    font-size:1.2rem;
    

}

.tab-contents ul li{
    margin:10px 0px;
}

.tab-contents li span{
    font-size: 1.3rem;
    color: rgb(255, 44, 44);
}

.tab-contents{
    display:none;
}

.tab-contents.active-tab{
    display:block;
    
}

.forth-section{
    background-color: #ffffff;
    height:800px;
}

.forth-section h1{
    font-size: 3rem;
    color:rgb(0, 0, 0) ;
    padding-top:60px;
    
    
}

.service{
    display:flex;
    justify-content: space-around;
    margin-top: 60px;
    
}

.box{
    border:solid white 2px;
    height:400px;
    width: 300px; 
    margin-top:10px;
    background-color: rgb(1, 38, 57);
    align-items: center;
    color:white;
    border-radius: 10px;
    box-shadow:10px 10px rgb(0, 0, 0);
    }

.box:hover{
    height: 400px;
    width:300px;

    box-shadow:10px 10px rgb(0, 0, 0);
}

.box h2{
    font-size: 2rem;
    color: rgb(161, 222, 255);
}

.detail{
    border:2px solid green;
    width:48%;
    height:400px;
}



.image1{
    width:35%;
    height:35%;
}


.projects {
    background-color: rgb(1, 38, 57);
    flex-direction: column;
    margin: 0 auto;
    padding: 100px 0;
    padding:0;
}

.projects-container{
    padding: 0;
}


.projects-header {
    display: block;
    unicode-bidi: isolate;
    display:flex;
    justify-content: center;
    font-size: 3rem;
    margin-top:0;
    padding:40px;
}

.project-item{
    display:flex;

}

.project-info{
    /* margin:70px; */
    padding:50px;
    color:rgb(254, 254, 254);
}

.project-item h1{
    font-size: 3.5rem;
    margin: 80px 0 0 0px;
    color:rgb(224, 101, 24);
    
}

.project-item h2{
    font-size: 2.5rem;
    margin-top:30px;
}

.project-item p{
    font-size:1.5rem;
    margin-top:20px;
}

.project-img{
    height:500px;
    width:1200px;
    margin:0 80px 40px 20px;


}

.link-button{
    width:290px;
    height:40px;
    background-color: rgb(249, 124, 14);
    color:rgb(255, 255, 255);
    margin:50px 20px 10px 0px;
    font-size:1rem; 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.link-button:hover{
    width:290px;
    height:40px;
    background-color: rgb(217, 102, 2);
    color:rgb(255, 255, 255);
    margin:50px 20px 10px 0px;
    font-size:1rem; 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor:pointer;
}

#contact{
    
    background-color: rgb(31, 37, 37);
    
}

.contact-container{
    background-color:rgb(31, 37, 37);
    /* height: 800px; */
    display: flex;
    justify-content: space-around;
    margin-top:100px;
}

 .section-title{
     display:flex;
    justify-content: center;
    
    color:white;
    font-size: 3rem;
    padding-top:70px;
    

}  

.contact-info{
    margin-top:18px;
}



/* .contact-container h1{
    display: inline;
    font-size: 1.5rem;
   justify-content: center;

} */

.contact-item{
    display:flex;
    
}

.footer{
    background-color:rgb(31, 37, 37);;
    color:white;
    padding-top:50px;
    font-size: 1rem;
    justify-content: center;
}

.hamburger{
    display:none;
    position: absolute;
    cursor:pointer;
    right: 5px;
    top: 15px;
}

.line{
    color:white;
    width:25px;
    background-color: white;
    margin:3px 3px;
    height:3px;
}

.third-project-image{
    Height:460px;
     width:600px;
}

.hamburger.active span:nth-child(1) {
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger.active span:nth-child(3) {
    transform: rotate(45deg) translate(-8px, -8px);
  }
  
  



  @media (max-width: 768px) {
    .hamburger {
      display: block;
    }
  }
  
  @media (min-width: 769px) {
    .hamburger {
      display: none;
    }
  }

@media only screen and (max-width: 950px){

    body{
         background-image: none;
        background-color: rgb(7, 25, 34); 
        
    }

    .hamburger{
        background-color: #333;
  transition: all 0.4s ease-in-out;
    }
    
    .nav-list{
        flex-direction:column;
        
    }

    .resume-button{
        width:80%;
        margin:7%;
    }

    
    
    .row{
        flex-direction: column;
    }

    .about-me{
        background-color: aliceblue;
        text-align: center;
        
    }

    .about-col-1 img{
        height:60%;
        width:80%;
        align-content: center;
        margin-left:10%;
        margin-top: 5%;
        

    }

    .about-col-2 p{
        margin:4%;
        padding:2%;
    }

    .third-section{
        height:1500px;
    }

    .tab-titles{
        width:80%;
        
        margin-left: 0px;;
    }

    .tab-links{
        font-size: 1.5rem;
    }


.right ul{
    flex-direction: column;
    justify-content: center;
    margin-top:10px;
    text-align: center;

}

.right ul li{
    margin:5px;
    /* opacity: 0; */
}

.hamburger{
    display:block;
}

.forth-section{
    height: fit-content;
}
.service{
    flex-direction: column;
    height: min-content;
    margin-left:10%;
    margin-top:5%;
    padding-bottom:50px;
}

.tab-contents{
    margin-left:6%;
}

.project-item{
    flex-direction: column;
}

.second-project{
    flex-direction: column-reverse;
}

.project-img{
    height: 90%;
    width: 90%;
    margin-top: 0;
    padding-top:0 ;
}


.third-project-image{
    width:90%;
    height:90%;
    margin-top:0;
    padding-top:0;
    
}

.contact-item{
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 0;
}

.contact-container{
    flex-direction: column;
    text-align: center;

}

.icon{
    margin-top: 20px;
}

.h-nav-resp{
    height: 72px;

}

.v-class-resp{
    opacity: 0; 
} 




    
}